---
import ExampleCard from "../components/ExampleCard.astro";
import Layout from "../layouts/Layout.astro";
import { fetchExamplesYaml } from "../data";

const examples = await fetchExamplesYaml();
---

<Layout title="Example Gallery">
  <main class="pt-[64px]">
    <div class="grid grid-cols-[repeat(auto-fill,minmax(300px,1fr))] gap-8 p-8">
      {examples.map((example) => <ExampleCard example={example} />)}
    </div>
  </main>
</Layout>
