{
  "recommendations": [
    {% if use_linter -%}
    "dbaeumer.vscode-eslint",
    {% endif -%}
    {% if use_prettier -%}
    "esbenp.prettier-vscode",
    {% endif -%}
    {% if use_vitest -%}
    "vitest.explorer",
    {% endif -%}
    "editorconfig.editorconfig",
    "vsls-contrib.codetour",
    "algorandfoundation.algokit-avm-vscode-debugger"
  ]
}
